[Unit]
Description=PRECISE DuckDB Request Admin Service
After=network.target

[Service]
User=rutendo
Restart=always
RestartSec=10
WorkingDirectory=/home/rutendo/PRECISE
ExecStart=/opt/anaconda3/bin/python3 /home/rutendo/PRECISE/duckdb_request.py
Environment=FLASK_SECRET_KEY=REPLACE_WITH_FLASK_SECRET_KEY
Environment=SMTP_APP_PASSWORD=REPLACE_WITH_GMAIL_APP_PASSWORD
Environment=PYTHONPATH=/home/rutendo/PRECISE

[Install]
WantedBy=multi-user.target
